@media only screen and (max-width: 768px) {
    .conteudo-descricao{
        padding: 5%;
        height: 90vh;
    }
    .container .bkg-parallax-01{
        background-size: cover;
        background-position: 50% 50%;
    }
    footer #azul-claro, footer #cinza, footer #colorido, footer #verde{
        padding: 10px 0;
    }
}

@media only screen and (max-width: 500px) {
    *, body{
        font-size: 10px;
    } 
 
    .conteudo-descricao{
        height: auto;
    } 
} 