@media only screen and (max-width: 768px) {
    .conteudo-descricao{
        padding: 5%;
        height: 90vh;
    }
}

@media only screen and (max-width: 500px) {
    *, body{
        font-size: 10px;
    }
 
    .conteudo-descricao{
        height: auto;
    } 
}