/* 
    ### fontes ###
*/

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../font/OpenSans-Bold.ttf');
    src: url('../../font/OpenSans-Bold?#iefix') format('embedded-opentype'),
      url('../../font/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../font/OpenSans-Regular.ttf');
    src: url('../../font/OpenSans-Regular?#iefix') format('embedded-opentype'),
      url('../../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../font/OpenSans-Regular.ttf');
    src: url('../../font/OpenSans-Regular?#iefix') format('embedded-opentype'),
      url('../../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

h1{
    font-size: 8rem
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 4rem;
}

h4{
    font-size: 3rem;
}

h4{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    font-family: 'OpenSans-Regular';
    text-align: justify;
}

/*  #### Imagens ####  */

img {
    width: 100%;
    height: auto;
}
 
/*  #### Efeitos ####  */
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
}
@keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
}

/* ### Basico ### */

*, body{
    font-family: 'OpenSans-Bold';
    font-weight: 100 !important;
    font-size: 12px;
    margin: 0 auto;
    color: white
}

svg {
    fill: currentColor;
    height: 2rem;
    width: 2rem;
}

button{
    background: none;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ### Conteúdo ### */
section.linguas{
    position: absolute;
    right: 10px;
    top: 10px;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-gap: 10px;
}

section.linguas button{
    width: 40px;
    height: 40px;
}

section.linguas .ativo{
    border-bottom: 2px solid white
}

.titulo{
    font-family: 'OpenSans-Bold';
    color: white;
    z-index: 2;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.conteudo-descricao {
    position: relative;
    display: grid;
    background: url(../../img/image-02.jpg) center no-repeat;
    background-size: cover;
    z-index: 1;
    height: 70vh;
    align-content: center;
}

.descricao {
    max-width: 750px;
    margin: 0 auto;
    z-index: 3;
}
 
.bkg-parallax-01 {
    display: grid;
    text-align: center;
    position: relative;
    z-index: -1;
    height: 100vh;
    transform: translateZ(-0.9px) scale(2);
    background: url(../../img/image-01.jpg) center no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-color: #fae4d8;
    align-content: center;
}
  
.bkg-parallax-01:after, .conteudo-descricao:after{
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    content: '';
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    top: 0;
}

/* ### Rodapé ### */

footer{
    display: grid;
    width: 100%;
    z-index: 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    text-align: center;
}   
  
footer a{ 
    height: 2.3rem;
    padding: 0.5em 1em;
    display: block;
} 

footer #verde, footer #azul-claro, footer #cinza, footer #colorido{
    width: 100%;
    transition: 0.2s;
}

footer #verde:hover{
    background-color: rgb(0, 202, 0);
}

footer #azul-claro:hover{
    background-color: #006699;
}

footer #cinza:hover{
    background-color: rgb(59, 59, 59);
}

footer #colorido:hover{
    background-color: #EB159B;
}