// Fonts
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;
$xl: 1904px;

:root {
    --primary: #000;
    --secundary: #444444;
    --tertiary: #a3f7bf;
    --bgdefault: #fcfcfc;
}

@mixin mediaXs () {
    @media (max-width: 600px) {

    }
}

// Vars
$radius: 40px;

// Default
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
main {
    width: 100%;
    height: 100%;
    display: block;
}

html {
    line-height: 1.5;
    font-family: "Poppins";
}

// Base
body {
    margin: 0;
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    * {
        font-family: "Poppins";
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;

    li {
        display: inline-block;
    }
}

main {
    align-items: center;
    background-color: var(--bgdefault);

    @mixin squareDotted {
       content: '';
        display: block;
        z-index: 1;

        background-repeat: no-repeat;
        background-image: url("../../dist/img/element-points.svg");
    }

    @media (min-width: 1025px) {
        display: flex;

        &:before,
        &:after {
            content: '';
            width: 500px;
            height: 500px;
            display: block;
            z-index: 1;

            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("../../dist/img/element-x.svg");
        }

        &:before {
            top: -100px;
            left: -100px;
            position: fixed;
        }

        &:after {
            bottom: -100px;
            right: -100px;
            position: fixed;
        }
    }


    > .container {
        z-index: 2;
        width: 100%;
        margin: 0 auto;
        color: #fff;

        display: flex;
        align-items: center;

        position: relative;

        @media (max-width: 1025px) {
            width: 100%;
            height: auto;
            flex-direction: column;
        }

        @media (min-width: 1025px) {
            height: 100%;
            max-width: 1024px;
            position: relative;

            &:before,
            &:after {
                width: 80px;
                height: 80px;
                background-size: cover;
                @include squareDotted()
            }

            &:before {
                bottom: 20px;
                left: 20px;
                position: fixed;
            }

            &:after {
                top: 20px;
                right: 20px;
                position: fixed;
            }
        }

        .side-bar,
        .right {
            overflow: auto;
            position: relative;
        }

        @mixin scroll($color) {
            &::-webkit-scrollbar {
                width: 20px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }
        }

        .side-bar {
            height: auto;
            @include scroll(#f1f1f1);
            background-color: #393E46;
            transition-duration: 0.5s;

            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: 1025px) {
                width: 360px;
                margin: 25px 0;
                min-height: calc(100% - 50px);
                max-height: 700px;
            }

            @media (max-width: 1025px) {
                width: 100%;
                min-height: 100vh;
            }

            > .container {
                text-align: center;

                @media (max-width: 1025px) {
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                > * {
                    margin-left: auto;
                    margin-right: auto;
                }

                .work {
                    font-size: 1rem;
                    font-weight: 200;
                }

                .name {
                    font-size: 2.4rem;
                    font-weight: 600;
                }

                .socials {
                    padding: 0;
                    width: 100%;
                    text-align: center;

                    li {
                        width: 20px;
                        height: 20px;
                        margin: 35px 5px;

                        &:hover svg {
                            color: var(--tertiary);
                        }

                        svg {
                            width: inherit;
                            height: inherit;
                            color: #ffff;
                        }
                    }
                }

                .download-sv {
                    cursor: pointer;
                    padding: 7px 33px;
                    border-radius: 45px;
                    margin: 20px auto;
                    border: 2px solid #ffff;
                    transition-duration: 0.3s;
                    background-color: transparent;

                    color: #ffff;
                    font-weight: 200;

                    &:hover {
                        color: #444444;
                        background-color: var(--tertiary);
                        border-color: var(--tertiary);
                    }
                }

                .person-image {
                    width: auto;
                    height: auto;

                    display: block;
                    border-radius: 100px;
                    margin-bottom: 40px;

                    background-size: 50px;
                    background-position: 0px 10px;
                    background-repeat: repeat;
                    background-image: url("../img/element-points.svg");

                    @media (min-width: 1440px) {
                        max-width: 200px;
                        max-height: 200px;
                    }

                    @media (max-width: 1440px) {
                        max-width: 150px;
                        max-height: 150px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        overflow: hidden;
                        top: -10px;
                        position: relative;
                        border-radius: 100px;
                    }
                }
            }

            .footer {
                text-align: center;
                bottom: 20px;
                width: 100%;
                position: absolute;

                p {
                    font-weight: 200;
                    font-size: 0.7rem;
                }
            }
        }

        .right {
            right: 0;
            width: 100%;
            background-color: #222831;

            padding: 10% 5% 0% 5%;

            transition-duration: 0.5s;

            display: flex;
            align-items: center;

            @include scroll(#393E46);

            @media (max-width: 1025px) {
                height: auto
            }

            @media (min-width: 1025px) {
                max-height: 800px;
                max-width: 700px;
                height: 95vh;
                box-shadow: -2px 0 15px rgba(#000, 0.5);
            }

            @media (min-width: 1904px) {
                display: flex;
                align-items: center;
            }

            .center-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .header {
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin-bottom: 30px;

                    .title {
                        font-weight: 700;
                    }

                    .sub-title {
                        font-weight: 200;
                    }
                }

                .content-about {
                    display: block;
                    margin: 50px 0 0 0;

                    &__title {
                        display: inline-block;
                        position: relative;
                        font-weight: 600;
                        margin: 0 0 15px 0;

                        &:after {
                            top: 12px;
                            right: -15px;
                            position: absolute;

                            width: 25px;
                            height: 25px;
                            background-size: 150%;
                            @include squareDotted();
                        }
                    }

                    &__description {
                        margin-top: 15px;
                        font-size: 0.8rem;
                        font-weight: 200;
                    }
                }

                .portfolio {
                    width: 100%;
                    height: auto;
                    display: flex;
                    position: relative;
                    margin: 20px 0 0 0;
                    justify-content: space-between;

                    @media (min-width: 1024px) {
                        padding: 50px;

                        &:before {
                            content: '';
                            top: 20px;
                            left: 107px;
                            height: 2px;
                            display: block;
                            position: absolute;
                            width: calc(100% - 218px);
                            background-color: #ffff;
                        }
                    }

                    @media (max-width: 1024px) {
                        padding: 20px;
                        flex-direction: column;
                    }

                    &__item {
                        padding: 2px;
                        display: inline-block;
                        border-radius: 5px;
                        border: 2px solid #ffff;
                        position: relative;

                        @media (min-width: 1024px) {
                            width: 120px;
                            height: 90px;

                            &:before {
                                content: '';
                                width: 2px;
                                height: 30px;
                                display: block;
                                position: absolute;
                                background-color: #ffff;
                                top: -30px;
                                left: 55px;
                            }

                            &:last-child {
                                margin: 0;
                            }
                        }

                        @media (max-width: 1024px) {
                            width: 100%;
                            height: 60vw;
                            margin-bottom: 30px;
                        }

                        &--header {
                            height: 13px;
                            display: flex;
                            align-items: center;
                            border-radius: 2px;
                            padding: 4px 2px;
                            background-color: var(--tertiary);
                            position: absolute;

                            transition-duration: 0.5s;

                            @media (min-width: 1024px) {
                                width: calc(120px - 8px);
                            }

                            @media (max-width: 1024px) {
                                width: 99%;
                            }

                            .ico {
                                opacity: 0;
                                width: 20px;
                                height: 20px;
                                margin: 0 auto;

                                .link {
                                    fill: #222831;
                                    width: 20px;
                                    height: 20px;
                                    display: block;
                                }
                            }

                            .bullet {
                                width: 5px;
                                height: 5px;
                                display: block;
                                margin-right: 4px;
                                border-radius: 5px;
                                background-color: #222831;
                            }
                        }

                        &:hover {
                            .portfolio__item--header {
                                height: 95%;
                                transition: height 0.5s ease 0s;

                                .bullet {
                                    display: none;
                                }

                                .ico {
                                    opacity: 1;
                                    transition: opacity 0.2s ease 0.4s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
